.container{
  max-width: 80%;
  font-size: 2vh;
  font-family:Arial, Helvetica, sans-serif;
  overflow: hidden;}
h5{
  font-size: 2vh;
}
*{
  font-family:  New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}
label{
    font-weight: bold;
}
.info{
  margin-top: 2%;
  padding: 1%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(242,242,242,0.6);
  border :2px black solid;
  width: 60%;
}