<app-navigation></app-navigation>
<div style="text-align: center; margin-top: 5%;">
    <h1>This is E-commerce computer sale System</h1>
</div>

<div style="text-align: center; margin-top: 2%;">
    <h2>Frontend and Backend was existed by <u>Buğra Şaylı</u> </h2>
</div>

<div style="text-align: center; margin-top: 1%;">
    <h4>For frontend <u>HTML</u>, <u>CSS</u> and <u>Bootstrap</u> Framework was used </h4>
</div>

<div style="text-align: center; margin-top: 5%; margin-bottom: 22%;">
    <p>For more information, send an Email </p>
    <h3>bugrasayli@gmail.com</h3>
</div>