
    <div class="specification" style="padding: 2%;">
        <table class="table table-striped" style="width: 100%; background-color: rgb(242, 242, 242);">
            <tbody>
                <tr >
                    <th scope="row"> Name</th>
                    <td> {{computer.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Product Code</th>
                    <td>#{{computer.id}}</td>
                </tr>
                <tr>
                    <th scope="row">Brand</th>
                    <td>{{computer.brand.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>{{computer.type.name}}</td>
                </tr>
                <tr>
                    <th scope="row">CPU</th>
                    <td>{{computer.processor.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Graphic Card</th>
                    <td>{{computer.graphicCard.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Memory HDD</th>
                    <td>{{computer.memory.hdd}}</td>
                </tr>
                <tr>
                    <th scope="row">Memory SSD</th>
                    <td>{{computer.memory.ssd}}</td>
                </tr>
                <tr>
                    <th scope="row">RAM</th>
                    <td>{{computer.ram.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Made in</th>
                    <td>{{computer.country.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>