.collapse{
    margin-left: 60%;
    margin-right:30% ;
}
li{
    margin-left: 10%;
}
.navbar{
    background-color: rgb(204, 229, 255);
    height: 100px;
  }
a{
    font-size: 1vh;
    font-size: 1vw;
}   
.listCart{
    display: inline-block;
    width: 100%;
}
.img{
    display: inline-block;
}
.detail{
    width: 200px;
    height: 100%;
    word-wrap:break-word;
    max-width: 40%;
    margin-left: 10px;
}
.count{
    display: inline-block;
    width:40%;
}
.price{
    margin-left: 10px;
    display: inline-block;
    width:50%;
}
.total{
    display: inline-block;
}