.container {
    max-width: 80%;
    font-size: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
*{
    font-family:  New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  }
table {
    margin-top: 2%;
    padding: 2%;
    background-color: rgb(242, 242, 242, 0.6);
    border: 1px black solid;
    width: 100%;
}
.info{
    margin: 2%;

}
