<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Brands</h3>
  </div>
  <div class="panel-body" *ngIf="Brands">
    <ul class="list-group" >
      <li class="list-group-item" *ngFor="let brand of Brands">
        
        <div class="form-check">
          <input type="checkbox" class="form-check-input" style="width: 20px; height: 20px;" id="exampleCheck1" (change)="changeStatus(brand.id,$event)">
          <label class="form-check-label" style=" margin-left: 10px;"for="exampleCheck1"><a href=""> {{brand.name}}
            <b>

              ({{ brand.count}})
            </b>
          </a></label>
        </div>
      </li>
    </ul>
  </div>
</div>