<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(50, 50, 50); height: 100px;">
  <a class="navbar-brand" style="color: white; margin-left: 40px;" href="/"><img src="/assets/logo.png" width="90px;" height="90px" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: white; font-size: 25px;"  href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" style="color: white; font-size: 25px;" href="order">Order</a>
      </li>
      <li class="nav-item dropdown" style="font-size: 25px;">
        <app-cart></app-cart>        
      </li>
      <li class="nav-item" >
        <a class="nav-link" style="color: white; font-size: 25px;" href="about">About</a>
      </li>
    </ul>
    
  </div>
</nav>