.collapse{
    margin-left: 60%;
    margin-right:30% ;
}
li{
    margin-left: 10%;
}
.navbar{
    background-color: rgb(34,34,34);
    height: 70px;
  }
a{
    font-size: 18px;
    font-size: 18px;
    color: white;
}