.collapse{
    margin-left: 60%;
    margin-right:30% ;
}
li{
    margin-left: 10%;
}
.navbar{
    background-color: rgb(204, 229, 255);
    height: 70px;
  }
a{
    font-size: 1.5vh;
    font-size: 1.5vw;
}
.nav-link{
    font-size: 1.5vh;
    font-size: 1.5vw;  
}